<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if profile %}
        <p>name: {{ profile.user.username }}</p>
        <p>telephone: {{ profile.means_of_contact.telephone }}</p>
        <p>hours: {{ profile.hours }}</p>
        <p>blackhole date: {{ profile.black_hole_day }}</p>
    {% else %}
        <h1>No user logged in</h1>
    {% endif %}
</body>
</html>