<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>&lt;USERNAME&gt;</title>
</head>
<body>
	<h1>My Nice Profile</h1>
	<main>
		<div id="profile-pic">
			<img src="https://placecats.com/neo_2/300/300" alt="">
		</div>
		<div id="profile-contact">
			<p>Telephone: 4002-8922</p>
			<p>Email: voxskynned@gmail.com</p>
			<p>Blackhole: 06/04/2001</p>
		</div>
	</main>
</body>
</html>