main
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1
{
	text-align: center;
}

#profile-pic
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: clamp(20vw, 5rem, 20vw);
	height: clamp(20vw, 5rem, 20vw);
	overflow: hidden;
	border: 1px black solid;
	border-radius: 50%;
	object-fit: cover;
	box-sizing: border-box;
	margin-left: clamp(10vw, 3vw, 15vw);
}

#profile-pic img
{
	width: 100%;
}

#profile-contact
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-weight: bold;
	font-size: clamp(0.1rem, 3vw, 3rem);
	line-height: 0.5rem;
	margin-right: clamp(10vw, 3vw, 15vw);
}